@media only screen and (min-width: 1440px) {
    .custom-fluid {
        max-width: calc(100% - 50px);
        margin: 0 auto;
    }
}

/* .company__slider {
    overflow: hidden;
} */

button, button:focus, button:active, button:visited {
    outline: none;
    background: none!important;
    border: none!important;
    box-shadow: none!important;
}

.company-image__container {
    min-height: 400px;
}
.company-name {
    display: flex;
    flex-direction: column;
}
.company-name h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #425968;
}
.company-image__caption {
    height: 115px;
    font-weight: bold;
    text-align: center;
    background: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.slick-arrow {
    width: 50px;
    height: 50px;
}
.slick-arrow:before {
    display: none;
}
/* .slick-list.draggable{
    overflow: initial;
} */
.slick-slide {
    opacity: 0.7;
    transform: scale(1);
    margin: 5px;
    transition: all 0.3s ease-in-out;
    z-index: 0;
}
.slick-active.slick-center {
    opacity: 1;
    transform: scale(1.25);
    z-index: 2;
}

body {
    padding-top: 4.05896vw;
    font-family: "Ford Antenna";
}

.footer_text {
    color: white;
}
.header-truck {
    position: fixed;
    height: 4.05896vw;
    width: 100%;
    left: 0;
    top: 0;
    background: white;
    z-index: 99;
}
.header-truck__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.logo-truck {
    /* position: absolute;
    left: 2.81%;
    top: 1.094vw; */
    z-index: 2;
    margin-top: 21px;
}

.social-media__truck {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-list__truck {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    padding-inline-start: 0px;
    justify-content: space-between;
}

.footer-truck {
    background: #003478;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner {
    background-image: url(images/banner-gorsel.png);
    background-size: 100% 100%;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.banner-truck__container {
    background: white;
}
.banner-image__image {
    width: 18vw;
}
.banner-text__container {
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-text__text {
    color: #425968;
    margin-bottom: 0;
    text-transform: uppercase;
}
.banner-title__title {
    color: white;
}
.banner-price__container {
    background: #f36221;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-progress__bar {
    position: relative;
    width: 100%;
    height: 3rem;
    border-radius: 3rem;
    border: 3px solid white;
    text-align: right;
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 30px;
    overflow: hidden;
}
.banner-progress__bar:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #f36221;
    transition: all 0.3s ease-in-out;
}
.banner-progress__progressbar {
    z-index: 22;
}
/* .company__slider{
    width: 800px;
} */

.company-image__container {
    width: 200px;
    padding: 10px;
}
.name-pdg{
    padding: 0rem 1rem;
}
.company-image__image {
    margin: 0 auto;
    object-fit: cover;
}
/* .name-and__slider{
    display: flex;
    flex-direction: row;
} */
.text-color__banner{
color:white;
}
.banner-price__price{

    color: white;
}
.company-name span{
color: #777679;
color: white;
font-size: 1rem;
}
.button-form{
    background-color: #f36221 !important;
    background: #f36221 !important;
    color: white !important;
    padding: 0.7rem 4rem;
    font-size: 0.8rem;
    border-radius: 5px;

}
.button-form:focus{
    background: #f36221 !important;
    color: white !important;
}
.form-control{
    background: #e4e3e4;
    border-radius:0;
    border:unset;
    height: calc(2.5em + .75rem + 2px);

}
input.form-check-input{
    height: 30px;
    width: 30px;
}
.right-arrow{
height: 20px;
filter: invert(1);
position: relative;
left: 2rem;
}
.form-group span{
    color: #777679;
    font-weight: bold;
    font-size: 0.9rem;
}
.price-form{
display: flex;
}
.form-control.second {
    background: #cfcdcf;
    text-align: center;
    font-weight: bold;
}
.form-check-label{
    font-size: 0.8rem;
    color: gray;
    margin-left: 1rem;
}
.form-check-input{
    position: relative;
}
.form-check{
    display: flex;
    align-items: center;
}
.banner-title__title-form{
    color: white;
    font-weight: bold;
    font-size: 3rem;
    
}
.going{
    color: #f36221;
    font-size: 1.5rem;
}
@media only screen and (max-width:992px){
    .header-truck {
        height: unset;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    }
    .logo-truck{
        margin-bottom: -42px;
    }
    .logo-truck__image {
        width: 15.9896vw;
    }
    .banner {
        flex-direction: column;
    }
    .Form-page .container{
        padding: 0;

    }
    .banner {
        background-position: center center;
        background-size: cover;
    }
    .banner-image__image{
        width: unset;
    }
    .banner-progress__container{
        padding: 0 2rem;

    }
    .company-name h1{
        font-size: 4rem;
    }
}
