@font-face {
    font-family: 'Ford Antenna';
    src: url(fonts/FordAntenna-Thin.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'Ford Antenna';
    src: url(fonts/FordAntenna-ExtraLight.ttf);
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Ford Antenna';
    src: url(fonts/FordAntenna-Light.ttf);
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Ford Antenna';
    src: url(fonts/FordAntenna-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Ford Antenna';
    src: url(fonts/FordAntenna-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Ford Antenna';
    src: url(fonts/FordAntenna-Semibold.ttf);
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Ford Antenna';
    src: url(fonts/FordAntenna-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Ford Antenna';
    src: url(fonts/FordAntenna-Black.ttf);
    font-style: normal;
    font-weight: 800;
}